@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

* {
  --black: #000;
  --white: #fff;
  --gray: #808080;
  --light_gray: #edeef0;
  --dark: #0a0a0a;
  --dark2: #19191a;
}

body.theme-dark {
  background: var(--gray);
}

body.theme-dark .body__content header {
  background: var(--light_gray);
}

body.theme-dark .body__content header .name_text_block .name_text {
  color: #2a5885;
}

body.theme-dark .body__content header .name_text_block .name_text_2 {
  color: #939393;
}

body.theme-dark .body__content .content .content_table .table {
  border: 1px solid #000;
}

body.theme-dark .body__content .content .content_table .table table tr {
  background: var(--light_gray);
}

body.theme-dark .body__content .content .content_table .table table tr th,
body.theme-dark .body__content .content .content_table .table table tr td {
  border-right: 1px solid #000;
}

body.theme-dark .body__content .content .content_table .table table tr td {
  border-top: 1px solid #000;
}

body.theme-dark .body__content .content .content_table .table table tr td:nth-child(7):hover,
body.theme-dark .body__content .content .content_table .table table tr td:nth-child(8):hover {
  background: #dedcf7;
}

body.theme-dark .body__content .content .content_table .table table tbody:nth-child(2n+1) tr {
  background: #E5E5E5;
}

body.theme-dark .body__content .content .content_table .table table tbody:nth-child(1) tr {
  background: #fcf4e3;
}

body.theme-dark .body__content .content .content_button .buttons {
  background: #fff;
}

body.theme-dark .body__content .content .content_button .buttons button {
  background: #e5ebf1;
  color: #55677d;
}

body.theme-dark .body__content .content .content_code .write_code {
  background: #fff;
}

body.theme-dark .body__content .content .content_code .read_code {
  background: #fff;
}

body.theme-dark .body__content .content .content_code .read_code div[role="textbox"] {
  background: #e5ebf1;
}

body.theme-dark .body__content .content .content_code .read_code button {
  background: #e5ebf1;
  color: #55677d;
}

body.theme-dark .body__window .body__window__window {
  background: rgba(0, 0, 0, 0.8);
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table {
  border: 1px solid #000;
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table table tr {
  background: #fff;
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table table tr th,
body.theme-dark .body__window .body__window__window .body__window__window__item .table table tr td {
  border-right: 1px solid #000;
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table table tr td {
  border-top: 1px solid #000;
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table table tbody:nth-child(2n+1) tr {
  background: #E5E5E5;
}

body.theme-dark .body__window .body__window__window .body__window__window__item .table table tbody:nth-child(1) tr {
  background: #fcf4e3;
}

body.theme-dark .body__window .body__window__window .body__window__window__item button {
  background: #e5ebf1;
  color: #55677d;
}

body.theme-dark .body__window2 .body__window2__window {
  background: rgba(0, 0, 0, 0.8);
}

body.theme-dark .body__window2 .body__window2__window .body__window2__window__item .password {
  background: #fff;
  border: 1px solid #dce1e6;
}

body.theme-dark .body__window2 .body__window2__window .body__window2__window__item .password .password__content input {
  border: 1px solid #d3d9de;
}

body.theme-dark .body__window2 .body__window2__window .body__window2__window__item .password .password__content button {
  background: #e5ebf1;
  color: #55677d;
}

body.theme-dark .body__window2 .body__window2__window .body__window2__window__item .password .password__content .password__content__text {
  color: #626d7a;
}

body.theme-dark .body__window3 .body__window3__window {
  background: rgba(0, 0, 0, 0.8);
}

body.theme-dark .body__window3 .body__window3__window .body__window3__window__item .settings {
  background: #fff;
  border: 1px solid #dce1e6;
}

body.theme-dark .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item {
  border-bottom: 2px solid #dce1e6;
}

body.theme-dark .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input input {
  border: 1px solid #d3d9de;
}

body.theme-dark .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .exit_settings {
  background: #e5ebf1;
  border: 1px solid #d3d9de;
  color: #55677d;
}

body {
  background: #edeef0;
  height: auto;
}

body .body__content header {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  background: #fff;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
}

body .body__content header .header {
  margin: auto;
  width: 96%;
  height: 100%;
}

body .body__content header .header .header__1 {
  float: left;
}

body .body__content header .header .header__2 {
  float: right;
}

body .body__content header .header .header__2 .header__2__item {
  margin: 9px 0 9px 0;
}

body .body__content header .header .header__2 .header__2__item .header__2__item__block {
  float: left;
  margin-top: -1px;
}

body .body__content header .header .header__2 .header__2__item .header__2__item__setting {
  float: right;
  margin-left: 10px;
}

body .body__content header .ava {
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-left: 5px;
  background-image: url(../img/vk.png);
  background-size: auto 30px;
  height: 30px;
  width: 30px;
}

body .body__content header .ava img {
  height: 30px;
  width: 30px;
}

body .body__content header .name_text_block {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 46px;
}

body .body__content header .name_text_block .name_text {
  left: 460px;
  top: 10px;
  bottom: 0px;
  right: 0px;
  font-weight: 600;
  font-size: 14px;
  color: #2a5885;
}

body .body__content header .name_text_block .name_text_2 {
  color: #939393;
  top: 24px;
  padding-top: 1px;
}

body .body__content .content {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  margin: 70px auto auto auto;
  width: 96%;
}

body .body__content .content .content_table .table {
  border: 1px solid #000;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
}

body .body__content .content .content_table .table table {
  width: 100%;
  border-collapse: collapse;
}

body .body__content .content .content_table .table table tr {
  background: #fff;
  font-size: 15px;
  line-height: 20px;
}

body .body__content .content .content_table .table table tr th,
body .body__content .content .content_table .table table tr td {
  padding: 6px 9px;
  border-right: 1px solid #000;
}

body .body__content .content .content_table .table table tr td {
  border-top: 1px solid #000;
  text-align: center;
}

body .body__content .content .content_table .table table tr td:nth-child(1) {
  width: 36px;
}

body .body__content .content .content_table .table table tr td:nth-child(2),
body .body__content .content .content_table .table table tr td:nth-child(3),
body .body__content .content .content_table .table table tr td:nth-child(4),
body .body__content .content .content_table .table table tr td:nth-child(5) {
  width: 13%;
}

body .body__content .content .content_table .table table tr th:nth-child(8) div,
body .body__content .content .content_table .table table tr td:nth-child(8) div,
body .body__content .content .content_table .table table tr th:nth-child(9) div,
body .body__content .content .content_table .table table tr td:nth-child(9) div {
  text-align: center;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
}

body .body__content .content .content_table .table table tr td:nth-child(8):hover,
body .body__content .content .content_table .table table tr td:nth-child(9):hover {
  background: #dedcf7;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

body .body__content .content .content_table .table table tr th:nth-child(8) div,
body .body__content .content .content_table .table table tr td:nth-child(8) div {
  background-image: url(../img/replay_24.svg);
}

body .body__content .content .content_table .table table tr th:nth-child(9) div,
body .body__content .content .content_table .table table tr td:nth-child(9) div {
  background-image: url(../img/delete_outline_24.svg);
}

body .body__content .content .content_table .table table tr th:nth-child(8),
body .body__content .content .content_table .table table tr th:nth-child(9),
body .body__content .content .content_table .table table tr td:nth-child(8),
body .body__content .content .content_table .table table tr td:nth-child(9) {
  width: 42px;
  max-width: 42px;
}

body .body__content .content .content_table .table table tr th:last-child,
body .body__content .content .content_table .table table tr td:last-child {
  border-right: none;
}

body .body__content .content .content_table .table table tbody:nth-child(2n+1) tr {
  background: #E5E5E5;
}

body .body__content .content .content_table .table table tbody:nth-child(1) tr {
  background: #fcf4e3;
}

body .body__content .content .content_button {
  margin-top: 20px;
}

body .body__content .content .content_button .buttons {
  background: #fff;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body__content .content .content_button .buttons button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-right: 8px;
  padding: 7px 3px 8px 3px;
  background: #e5ebf1;
  border-radius: 4px;
  text-align: center;
  color: #55677d;
  font-size: 14px;
  line-height: 20px;
}

body .body__content .content .content_button .buttons button:last-child {
  margin-right: 0;
}

body .body__content .content .content_code .write_code {
  display: none;
  background: #fff;
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px;
}

body .body__content .content .content_code .write_code .write_code__info {
  font-size: 15px;
  line-height: 20px;
}

body .body__content .content .content_code .write_code .write_code__text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
}

body .body__content .content .content_code .read_code {
  display: none;
  background: #fff;
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px;
}

body .body__content .content .content_code .read_code div[role="textbox"] {
  background: #e5ebf1;
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
  line-height: 15px;
}

body .body__content .content .content_code .read_code button {
  margin-top: 16px;
  width: 100%;
  background: #e5ebf1;
  border-radius: 4px;
  padding: 12px;
  text-align: center;
  color: #55677d;
  font-size: 14px;
  line-height: 20px;
}

body .body__window {
  display: none;
}

body .body__window .body__window__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 5;
}

body .body__window .body__window__window .body__window__window__item {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  margin: 20px auto 20px auto;
  width: 96%;
  height: 95%;
}

body .body__window .body__window__window .body__window__window__item .table {
  border: 1px solid #000;
  border-radius: 8px;
  overflow: auto;
  max-height: 90%;
}

body .body__window .body__window__window .body__window__window__item .table table {
  width: 100%;
  border-collapse: collapse;
}

body .body__window .body__window__window .body__window__window__item .table table tr {
  background: #fff;
  font-size: 15px;
  line-height: 20px;
}

body .body__window .body__window__window .body__window__window__item .table table tr th,
body .body__window .body__window__window .body__window__window__item .table table tr td {
  padding: 6px 9px;
  border-right: 1px solid #000;
}

body .body__window .body__window__window .body__window__window__item .table table tr td {
  border-top: 1px solid #000;
  text-align: center;
}

body .body__window .body__window__window .body__window__window__item .table table tr td:nth-child(1) {
  width: 36px;
}

body .body__window .body__window__window .body__window__window__item .table table tr td:nth-child(2),
body .body__window .body__window__window .body__window__window__item .table table tr td:nth-child(3),
body .body__window .body__window__window .body__window__window__item .table table tr td:nth-child(4),
body .body__window .body__window__window .body__window__window__item .table table tr td:nth-child(5) {
  width: 14%;
}

body .body__window .body__window__window .body__window__window__item .table table tr th:last-child,
body .body__window .body__window__window .body__window__window__item .table table tr td:last-child {
  border-right: none;
}

body .body__window .body__window__window .body__window__window__item .table table tbody:nth-child(2n+1) tr {
  background: #E5E5E5;
}

body .body__window .body__window__window .body__window__window__item .table table tbody:nth-child(1) tr {
  background: #fcf4e3;
}

body .body__window .body__window__window .body__window__window__item button {
  width: 100%;
  margin-top: 20px;
  padding: 8px 3px 9px 3px;
  background: #e5ebf1;
  border-radius: 4px;
  text-align: center;
  color: #55677d;
  font-size: 14px;
  line-height: 20px;
}

body .body__window2 {
  display: none;
}

body .body__window2 .body__window2__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 5;
}

body .body__window2 .body__window2__window .body__window2__window__item {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  margin: 20px auto 20px auto;
  width: 96%;
  height: 95%;
}

body .body__window2 .body__window2__window .body__window2__window__item .password {
  width: 35%;
  margin: 15% auto auto auto;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dce1e6;
  padding: 25px;
}

body .body__window2 .body__window2__window .body__window2__window__item .password .password__title {
  padding: 0px 9px 25px 9px;
  text-align: center;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}

body .body__window2 .body__window2__window .body__window2__window__item .password .password__content input {
  width: 100%;
  margin-bottom: 22px;
  border: 1px solid #d3d9de;
  border-radius: 6px;
  padding: 7px 8px 8px 7px;
  font-size: 14px;
  line-height: 19px;
}

body .body__window2 .body__window2__window .body__window2__window__item .password .password__content button {
  width: 100%;
  padding: 7px 3px 8px 3px;
  background: #e5ebf1;
  border-radius: 4px;
  text-align: center;
  color: #55677d;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 22px;
}

body .body__window2 .body__window2__window .body__window2__window__item .password .password__content .reset {
  display: none;
}

body .body__window2 .body__window2__window .body__window2__window__item .password .password__content .password__content__text {
  text-align: center;
  color: #626d7a;
  font-size: 11px;
  line-height: 13px;
}

body .body__window3 {
  display: none;
}

body .body__window3 .body__window3__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 5;
}

body .body__window3 .body__window3__window .body__window3__window__item {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  margin: 20px auto 20px auto;
  width: 96%;
  height: 95%;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings {
  width: 55%;
  margin: 8% auto auto auto;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dce1e6;
  padding: 25px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item {
  border-bottom: 2px solid #dce1e6;
  margin-bottom: 20px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__title {
  font-size: 16px;
  padding-left: 1px;
  line-height: 19px;
  font-weight: 600;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content {
  margin-top: 12px;
  padding-bottom: 12px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input {
  width: 100%;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input input {
  width: 100%;
  border: 1px solid #d3d9de;
  border-radius: 6px;
  padding: 7px 8px 8px 7px;
  font-size: 14px;
  line-height: 19px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input .radio {
  margin-bottom: 8px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input .radio:last-child {
  margin-bottom: 0;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input label {
  font-size: 14px;
  line-height: 19px;
  width: 100%;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .settings__item__content-input label span {
  color: #7e868c;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .content-input2 {
  width: 100%;
  float: unset;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item .settings__item__content .exit_settings {
  width: 100%;
  padding: 7px 3px 8px 3px;
  background: #e5ebf1;
  border: 1px solid #d3d9de;
  border-radius: 4px;
  text-align: center;
  color: #55677d;
  font-size: 14px;
  line-height: 19px;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

body .body__window3 .body__window3__window .body__window3__window__item .settings .settings__item:last-child .settings__item__content {
  padding-bottom: 0;
}

body ::-webkit-scrollbar {
  width: 0px;
  background: #fff;
}

body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body input[type="number"]::-webkit-outer-spin-button,
body input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body input[type="number"] {
  -moz-appearance: textfield;
}

body input[type="number"]:hover,
body input[type="number"]:focus {
  -moz-appearance: number-input;
}

body input[type=number]::-webkit-inner-spin-button,
body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

body input[type="checkbox"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

body input[type="checkbox"]:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

body input[type="checkbox"]:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

body input[type="checkbox"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

body input[type="checkbox"]:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

body input[type="checkbox"]:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

body input[type="checkbox"]:disabled + label::before {
  background-color: #e9ecef;
}

body input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

body input[type="radio"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body input[type="radio"] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

body input[type="radio"]:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

body input[type="radio"]:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

body input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

body input[type="radio"]:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

body input[type="radio"]:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

body input[type="radio"]:disabled + label::before {
  background-color: #e9ecef;
}

.webp body .body__content header .ava{ background-image: url(../img/vk.webp); }